<div class="form-container">
    <h3>Edit Your Account <i class='bx bx-edit-alt'></i></h3>
    <div class="input">
        <div class="text">
            <input type="text" placeholder="Name" [(ngModel)]="upadateName">
        </div>
        <div class="number">
            <input type="number" placeholder="Current Balance" [(ngModel)]="upadateBalance">
        </div>
        <div class="text">
            <input type="text" placeholder="Day Of Tracking" [(ngModel)]="updateDayOfTracking">
        </div>
        <div class="button">
            <button (click)="SaveUser()">Save <i class='bx bxs-save' ></i></button>
        </div>
</div>
</div> 
